.background {
    -fx-background-color: #373737;
}

.text-area .content {
    -fx-background-color: darkgrey;
}
TextField {
    -fx-font-size: 12pt;
    -fx-font-family: "Segoe UI Semibold";
    -fx-background-color: darkgrey;
}

.label {
    -fx-border-width: 2;
    -fx-border-color: #e2e2e2; 
    -fx-padding: 5 22 5 22;
    -fx-border-radius: 25px;
}
Button {
    -fx-padding: 5 22 5 22;   
    -fx-border-color: #e2e2e2;
    -fx-border-width: 2;
    -fx-background-color: #373737;
    -fx-font-family: "Segoe UI", Helvetica, Arial, sans-serif;
    -fx-font-size: 11pt;
    -fx-text-fill: #d8d8d8;
    -fx-border-radius: 25px;
}

Button:hover {
    -fx-background-color: #3a3a3a;
}

Button:pressed, Button:default:hover:pressed {
  -fx-background-color: white;
  -fx-text-fill: #1d1d1d;
}
